button {
    height: 30px;
    width: 30px;
    outline: none;
}
#boundary{
    background-color: rgb(red, green, blue);
    border-radius: 4px;
    height: 250px;
    padding-bottom: 60px;
    position: relative;
    width:200px;
}

#preferences{
    width: 190px;
    margin-bottom: 10px;
}

#bookmarks{
    width: 190px;
    margin-bottom: 10px;
}

#log_out{
    width: 190px;
    margin-bottom: 10px;
}

#h1{
    font-size: 75px;
}