button {
    align-content: center;
    height: 30px;
    width: 30px;
    outline: none;
}
#boundary{
    background-color: rgb(red, green, blue);
    border-radius: 4px;
    height: 250px;
    padding-bottom: 60px;
    position: relative;
    width:200px;
}


#preferences{
    width: fit-content;
}

#bookmarks{
    width: fit-content;
}

#log_out{
    width: fit-content;
}
